[Service]
WorkingDirectory=/home/pi
ExecStart=/usr/bin/npx http-server /home/pi/dashboard/build
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodeServer
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

